.main {
  margin-top: 80px;
  background: url("http://lorempixel.com/400/200/nightlife") no-repeat;
  background-size: cover;
  height: calc(100vh - 130px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main > .welcome {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
}

.main > .login {
  /* height: 65%; */
  display: grid;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  max-width: 380px;
  gap: 1rem;
  text-align: center;
}

.main > .login > .login-form {
  display: grid;
  gap: 1rem;
}

.login-form label {
  display: inline-block;
  width: 30%;
}

.login-form input {
  display: inline-block;
  width: 65%;
  height: 2.5rem;
  box-shadow: 1px 1px 1px #888;
}

.login-form button {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: 0;
  box-shadow: 1px 1px 3px #00adb5;
  padding: 0.5rem;
  background-color: #1d1d1f;
  color: #00adb5;
  font-size: large;
}

.main > .promo {
  height: 35%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main > .promo h2 {
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
}

.main > .promo > .recently {
  display: flex;
  align-items: center;
  overflow: scroll;
  padding: 1rem;
  gap: 1rem;
}

.main > .promo > .recently > .film {
  width: 250px;
  height: 141px;
  margin-right: 0.5rem;
  background-color: grey;
  flex: 0 0 auto;
}

@media all and (min-width: 480px) {
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 992px) {
}

@media all and (min-width: 1200px) {
}
